@font-face {
   font-family: 'Beyblade Metal Fight Font';
   font-display: swap;
   src: url('file:///C:/Users/eco_o/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-04-27_011123/fonts/Beyblade%20Metal%20Fight%20Font/font.ttf');
}
